@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

.headline{
    color: $mine-shaft;
    line-height: 1.4;

    &__s {
        @include font-size(12);
    }
    
    &__m {
        @include font-size(14);
    }
    
    &__l {
        @include font-size(14);

        @include from(tablet) {
            @include font-size(18); 
        }
    }
    
    &__xl {
        @include font-size(24);
    }
    
    &__xl--2 {
        @include font-size(22);
        font-weight: 600;

        @include from(tablet) {
            @include font-size(28);
        }
    }

    &__xxl {
        @include font-size(36);

        @include from(desktop) {
            @include font-size(46);
        } 
    }
}

.body {
    @include font-size(16);
    line-height: 1.5;
}