$bp-mobile: 300px;
$bp-tablet: 600px;
$bp-desktop: 1024px;

$bps: (
    'mobile': $bp-mobile,
    'tablet': $bp-tablet,
    'desktop': $bp-desktop
);

.o-container {
    margin: 0 auto;
    max-width: 1080px;
}